<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Daily Task</title>
</head>

<body>
    <h1>List Items</h1>

    <ul>
        <% data.forEach((item) => { %>
            <li>
                <span>Nama : <%= item.nama %></span>
            </li>
            <li>
                <span>Umur : <%= item.umur %></span>
            </li>
            <li>
                <span>Provinsi : <%= item.provinsi%></span>
            </li>
            <li>
                <span>Status <%= item.status %></span>
            </li>
            <hr>
            <% }) %>
    </ul>
</body>

</html>